/* background-color: rgb(250, 190, 0);

*/

body{
    display: block;
    font-family: Raleway;    
    font-weight: 450;
}

a{
    text-decoration: none;
}

#info-head{
    background-color:  rgb(24, 24, 24);
    color: rgb(250, 190, 0);
    margin: -16px -8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 3px 10px;
}

#info-head img{
    background-color: rgb(250, 190, 0);
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 1px 8px;
}
#info-head img:hover{
    background-color: rgb(250, 190, 0);
    box-shadow: 0 0 10px rgb(250, 190, 0), 0 0 40px rgb(250, 190, 0), 0 0 80px rgb(250, 190, 0);
}
#info-head p{
    flex-grow: 1;
}
#contact-head{
    align-self: center;    
}

nav{
    margin: 15px -8px;
    background-color: rgb(24, 24, 24);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 6px 45px;
}
#logo{
    flex-grow: 1;
}
#logo img{
    width: 65px;
    height: 45px;
}
nav img{
    border: none;
    border-radius: 1px 8px;
}

nav a{
    color:rgb(250, 190, 0);
    text-decoration: none;   
}
nav li:hover{
    background-color: rgba(250, 190, 0);
    padding: 7px;
    border: none;
    border-radius: 1px 10px;
    color: rgb(24, 24, 24);
    transition: .3s;
}
nav li{
    display: inline;
    text-decoration: none;
    margin-left: 10px;
    padding: 7px; 
}
 footer{
    background-color: rgb(24, 24, 24);
    position: relative;
    bottom: 0;
    padding: 5px 10px;
    margin: -10px -8px;
    color: rgb(60, 60, 60);
    text-align: center;
 }

 #code{
    position: fixed;
    right: 5px;
    bottom: 20px;
    z-index: 1;
}
#code a{
    text-decoration: none;
    color:rgb(250, 190, 0);
}
#code p:hover{
    color: black;
    background-color: rgb(250, 190, 0);
    box-shadow: 0 0 10px rgb(250, 190, 0), 0 0 40px rgb(250, 190, 0), 0 0 80px rgb(250, 190, 0);
    transition-delay: 0.5s;
    border: none;
    border-radius: 3px 15px;
}
#code p{
    font-size: 13px;
    background-color: rgb(24, 24, 24);
    padding: 5px;
    border: none;
    border-radius: 1px 8px;
    box-shadow: 2px 2px 10px rgb(30, 30, 30);
}
.menu-bar{
    visibility: hidden;
    display: inline-block;
    cursor: pointer;
} 
.bar{
     width: 30px;
     height: 4px;
     background-color: rgb(250, 190, 0);
     margin: 5px 0;
     transition: 0.6s;
     border: none;
     border-radius: 3px 12px;
 }
.change .one{
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .two{
    opacity: 0;
}
.change .three{
    transform: rotate(45deg) translate(-8px, -8px);
}
.dropdown-content{
    position: relative;
    display: none;
}
.dropdown-content a{
    color: rgb(24, 24, 24);
    display: inline-block;
    font-size: 12px;
    font-weight: bolder;
}
.dropdown-content a:hover{
    text-decoration: underline;    
}
.show{display: block;}

#bridge{
    background: linear-gradient(rgb(24, 24, 24), rgb(35, 35, 35), rgb(24, 24, 24));
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3em;
    padding: 1px;
    margin: 0 -8px;
}
#bridge span{
    color: rgb(250, 190, 0);
    font-weight: bold;
}