section{
    padding: 35px 50px;
}

#about{
    background: rgb(24, 24, 24);;
    margin: -15px -8px;
    z-index: -1;
    border: none;
    height: 320px;
}

.sign{
    font-weight: 500;
}
.short-hr{
    width: 50px;
    height: 3px;
    border: none;
    border-radius: 1px 10px;
    position: absolute;
    background-color:  rgb(250, 190, 0);
}
.greetings{
    padding-top: 0px;
    font-size: 30px;
    text-align: center;
    color: rgb(250, 190, 0);
}

#portfolio{
    background-color: rgb(250, 190, 0);
    margin: 10px -8px 0px -8px;
}
#portfolio .short-hr{
    background-color: rgb(24, 24, 24);
}

#contact{
    background-color:  rgb(24, 24, 24);
    margin: 0 -8px;
}
#contact .sign, #about .sign{
    color: rgb(250, 190, 0);
}
.profile-link{
    background-color: rgb(221, 170, 1);
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 3px 15px;
    transition: 0.6s;
}
.profile-link:hover{
    background-color: rgb(250, 190, 0);
    box-shadow: 0 0 5px rgb(250, 190, 0), 0 0 20px rgb(250, 190, 0), 0 0 40px rgb(250, 190, 0);
    transition: 0.2s;
}
.icons{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;  
}
.icons a{
    margin: 5px 20px;
    color: rgb(221, 170, 1);
    text-decoration: none;
    text-align: center;
}
.static{
    width: 100%;
    height: 100%;
    background-color: rgb(24, 24, 24);
    padding: 9px;
    margin: 0px 0px -8px -10px;
}
.social-links li{
    list-style: none;
    color: rgb(221, 170, 1);
    margin-bottom: 6px;
}
.social-links a{
    text-decoration: none;
    color: rgb(80, 70, 60);
}
.icons-social{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}